[defaults]
user_agent = ('DinoFactsB0t 0.2')
log_file = /var/log/dinofactsbot/monitor.log
bot_user = botuser
bot_pass = botpass
subreddit = testingground4bots
poll_time = 5
limit = 10
trigger = /u/DinoFactsBot +fact
api_host = 
